= form_for @record do |f|
  -if @record.errors.any?
    .alert.alert-message.block-message.error
      %h3= "#{@record.errors.count} 件のエラーが発生したため、処理できませんでした。"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .record
      .row
        .span4.offset1
          %label スクリーンネーム
          .input
            = f.text_field :key
            .help-inline
              例: todesking
          %label ID
          .input
            = f.text_field :tag
            .help-inline
              例: 3752201

            .form-actions
              .input
                = f.submit '送信する', :class => 'btn btn-primary'

        = render 'description'

