.page-header
  %h2 Index
  %small This is a sample index page.

.admin-index
  .container
    .record
      .row
        .span12
          %table{:class => 'table table-bordered table-striped'}
            %thead
              %tr
                %th
                  ID
                %th
                  Key
                %th
                  Value
                %th
                  Created at
                %th
                  Updated at
                %th
                  Operation
            %tbody
              - @records.each do |record|
                %tr
                  %td
                    = link_to record.id, record
                  %td
                    = record.key
                  %td
                    = record.value
                  %td
                    = record.created_at.strftime "%Y/%m/%d %X"
                  %td
                    = record.updated_at.strftime "%Y/%m/%d %X"
                  %td
                    = link_to 'Show', record
                    = link_to 'Edit', edit_record_path(record)
                    = link_to 'Destroy', record, :method => :delete, :data => { :confirm => 'Are you sure?' }

          = will_paginate @records, :renderer => BootstrapPaginationRenderer

  %p.pull-left.pager
    = link_to "Back to Top", root_path
  %p.pull-right.pager
    = link_to 'New', new_record_path

